*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{
    background-color: #FEC7D7;
}

header{
    display: flex;
    flex-wrap: wrap;
}

.tituloPrincipal{
    width: 100%;
    height: 6.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.8rem;
}

h1{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.pie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    position:fixed;
    width: 100%;
    height: 7.2rem;
    left: 0;
    bottom: 0;

    background: #FFFFFE;
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.pieNav{
    text-align:center;
    width: 100%;
}

.listaNav{
    list-style: none;
    padding-left: 0rem;
    width: 100%;
}

.lista{
    display: inline-block;
    width:2.4rem;
    height: 2.4rem;
    /* margin-left:auto;
    margin-right:auto; */
    margin-left: 4%;
    margin-right:6%;
}

.linkNav{
    padding: 0rem;
    border-radius: 0rem;
    text-decoration: none;
    width:2.4rem;
    height: 2.4rem;
}

#listaHome{
    display: inline-block;
    width:10.02rem;
    height:4rem;
    /* margin-left: 2.4rem;
    margin-right:2.03rem; */
    margin-left:2%;
    margin-right:2%;
}

#linkNavHome{
    padding: 0rem;
    border-radius: 0rem;
    text-decoration: none;
    width:10.02rem;
    height:4rem;
}

#listaMensaje{
    display: inline-block;
    width:10.024rem;
    height:4rem;
    /* margin-left: 2.4rem;
    margin-right:2.03rem; */
    margin-left:-2%;
    margin-right:8%;
}

#linkNavMensaje{
    padding: 0rem;
    border-radius: 0rem;
    text-decoration: none;
    width:10.024rem;
    height:4rem;
}

#listaFavorito{
    display: inline-block;
    width:10.024rem;
    height:4rem;
    /* margin-left: 2.4rem;
    margin-right:2.03rem; */
    margin-left:-2%;
    margin-right:8%;
}

#linkNavFavorito{
    padding: 0rem;
    border-radius: 0rem;
    text-decoration: none;
    width:10.024rem;
    height:4rem;
}